
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <section>
        <h1>About</h1>
        <h2>DASH</h2>
        <p>
          Dallas Angular Super Heroes meetup meets every third Tuesday of the month at Improving Enterprises
        </p>
        <h2>Organizers</h2>
        <p>Richard Lemieux</p>
        <p>Srini Kusuman</p>
        <h2>MoneyGram</h2>
        <p>
          Employer of both organizers and host of this month meetup.
        </p>
        <p>MoneyGram has open Angular positions</p>
      </section>
    </div>
  </div>
</div>

